<ng-container *ngIf="product$ | async as product; else loadingOrError">

  <div class="product-page">
    <div class="info-side">
      <h1>{{ product.name }}</h1>
      <p class="category">{{ product.category | titlecase }}</p>
      <p class="price">{{ product.price | number:'1.2-2' }} €</p>
      <p class="desc">{{ product.description }}</p>

      <div class="purchase-actions">
        <div class="qty-control">
          <button (click)="dec()" [disabled]="qty <= 1">-</button>

          <span>{{ qty }}</span>

          <button (click)="inc(product)" [disabled]="(product.quantity - qty) <= 5">+</button>
        </div>

        <button class="add-btn"
                [ngClass]="{'out-of-stock': product.quantity < 5}"
                [disabled]="product.quantity < 5"
                (click)="addToCart(product)">
          {{ product.quantity < 5 ? 'Stock épuisé' : 'Ajouter au panier' }}
        </button>
      </div>
    </div>

    <div class="image-side">
      <img [src]="product.imageUrl || 'assets/placeholder.jpg'" [alt]="product.name" />
    </div>
  </div>

  <div class="related-section" *ngIf="(relatedProducts$ | async) as relatedProducts">
    <ng-container *ngIf="relatedProducts.length > 0">
      <h2>Vous aimerez aussi</h2>

      <div class="related-scroll">
        <div class="product-card" *ngFor="let rp of relatedProducts" (click)="goToProduct(rp.id)">
          <div class="card-img-wrapper">
            <img [src]="rp.imageUrl || 'assets/placeholder.jpg'" [alt]="rp.name">
          </div>
          <div class="card-body">
            <span class="card-cat">{{ rp.category | titlecase }}</span>
            <div class="card-header">
              <h3 class="card-name">{{ rp.name }}</h3>
              <span class="card-price">{{ rp.price | number:'1.2-2' }} €</span>
            </div>
            <button class="add-btn"
                [ngClass]="{'out-of-stock': rp.quantity < 5}"
                [disabled]="rp.quantity < 5"
                (click)="addToCartRelated($event, rp)">
              {{ rp.quantity < 5 ? 'Stock épuisé' : 'Ajouter au panier' }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-template #loadingOrError>
  <div class="loading-state">
    <div class="spinner"></div>
    <p>Chargement du produit...</p>
    <br>
    <button routerLink="/" style="margin-top: 20px; padding: 10px 20px; cursor: pointer;">Retour à la boutique</button>
  </div>
</ng-template>
