<div class="account-container">
  <div class="account-card">
    <h2>Mon Compte</h2>
    <p class="subtitle">Modifier mes informations. </p>

    <div class="info-group">
      <label>Prénom Nom</label>
      <input type="text" [value]="user?.name" disabled class="disabled-input">
    </div>

    <div class="info-group">
      <label>Adresse Mail</label>
      <input type="text" [value]="user?.email" disabled class="disabled-input">
    </div>

    <div *ngIf="message && !isError" class="success-msg">{{ message }}</div>
    <div *ngIf="message && isError" class="error-msg">{{ message }}</div>

    <form (ngSubmit)="save()">
      <div class="info-group">
        <label>Numéro de téléphone</label>
        <input type="text" [(ngModel)]="phone" name="phone" placeholder="Enter phone number" required>
      </div>

      <div class="info-group">
        <label>Nouveau mot de passe</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Min. 8 characters" required>
      </div>

      <div class="info-group">
        <label>Confirmer le nouveau mot de passe</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repeat your password" required>
        
        <small *ngIf="confirmPassword && password !== confirmPassword" style="color: #c0392b; font-size: 0.8rem; margin-top: 4px; display: block;">
          Les mots de passe ne sont pas pareille. Veuillez réessayer.
        </small>
      </div>

      <button type="submit" class="save-btn" [disabled]="loading || !isFormValid">
        {{ loading ? 'Sauvegarde des modifications' : 'Sauvegarder' }}
      </button>
    </form>
  </div>
</div>